* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  font-family: "Varela Round", sans-serif;
  .section-1 {
    width: 100%;
    height: 40px;
    background-color: #7f574c;
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    p {
      color: white;
      padding-top: 12px;
      font-size: 13px;
    }
    ul {
      list-style: none;
      display: flex;
      gap: 20px;
      padding-top: 8px;
      li a {
        padding: 6px;
        border-radius: 5px;
        background-color: none;
        text-decoration: none;
        color: white;
        font-size: 12px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: #68473e;
        }
      }
    }
  }
  .section-2 {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    .part-1 {
      margin-top: 40px;
    }
    .part-2 {
      display: flex;
      gap: 5px;
      margin-top: 40px;
      .navbar-1 {
        width: 80px;
        height: 40px;
        border-radius: 10px;
        padding-top: 12px;
        text-align: center;
        color: white;
        font-size: 12px;
        font-weight: 600;
        background-color: #6d534c;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: #a9928c;
        }
      }
      .navbar-2 {
        display: flex;
        gap: 5px;
        li {
          width: 90px;
          height: 40px;
          border-radius: 10px;
          padding: 10px;
          list-style: none;
          position: relative;
          overflow: hidden;
          text-align: center;
          a {
            text-decoration: none;
            font-size: 12px;
            font-weight: 600;
            color: #68473e;
            position: relative;
            z-index: 99999;
            transition: all 1s ease-in-out;
          }
          &::after {
            content: "";
            width: 0;
            height: 40px;
            position: absolute;
            top: 0;
            left: 0;
            background-color: none;
            transition: all 0.5s ease-in-out;
          }
          &:hover {
            a {
              color: white;
            }
            &::after {
              background-color: #8c675e;
              width: 100%;
            }
          }
        }
      }
    }
  }
  .section-3 {
    width: 100%;
    height: 450px;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.091),
        rgba(62, 62, 62, 0.031)
      ),
      url("./images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    p {
      font-size: 50px;
      font-weight: 600;
      background: linear-gradient(to bottom, rgb(125, 63, 15), white);
      background-clip: text;
      color: transparent;
    }
    span {
      font-size: 50px;
      font-weight: 600;
      background: linear-gradient(to bottom, white, rgb(125, 63, 15));
      background-clip: text;
      color: transparent;
    }
    button {
      width: 150px;
      height: 40px;
      border-radius: 10px;
      border: none;
      margin-top: 20px;
      color: white;
      font-weight: 600;
      font-size: 10px;
      background-color: #be8c60;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
      &:hover {
        color: #68473e;
        background-color: #e1d8d0;
      }
    }
  }
  .section-4 {
    width: 100%;
    height: 620px;
    background-color: #5a423b;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    .icons {
      width: 70%;
      height: 120px;
      margin-top: 50px;
      background-color: #ffffff;
      border-radius: 10px;
      display: flex;
      gap: 10px;
      justify-content: center;
      .icon {
        width: 300px;
        height: 150px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-top: 30px;
        i {
          font-size: 30px;
          transition: all 0.3s ease-in-out;
          &:hover {
            transform: scale(1.2);
          }
        }
        p {
          padding-top: 5px;
          font-size: 15px;
          font-weight: 600;
        }
      }
    }
    .boxes {
      width: 70%;
      height: 350px;
      display: flex;
      gap: 20px;
      .box {
        width: 250px;
        height: 350px;
        background-color: #ffffff;
        border-radius: 5px;
        overflow: hidden;
        text-align: center;
        box-shadow: none;
        transition: all 0.4s ease;
        p {
          font-size: 15px;
          font-weight: 600;
          margin: 10px;
        }
        span {
          font-size: 15px;
          font-weight: 600;
        }
        &:hover {
          box-shadow: 0px 15px 15px 15px #1b151375;
        }
      }
    }
    .chocolates {
      display: flex;
      justify-content: center;
      gap: 75px;
      .picture img {
        width: 200px;
        height: 40px;
      }
    }
  }
  .section-5 {
    width: 100%;
    height: 280px;
    background-image: linear-gradient(to bottom, #5a423b, #ab715c1d),
      url(./images/background-2.jpg);
    background-size: cover;
    text-align: center;
    padding-top: 140px;
    p {
      font-size: 30px;
      font-weight: 900;
      background: linear-gradient(to bottom, white, rgb(137, 125, 103));
      background-clip: text;
      color: transparent;
    }
  }
}
